@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,500;0,700;0,900;1,400&display=swap');

body{
    margin: 0px; /*margem externa */
    padding: 0px; /*margem interna */
    font-family: 'Inter', sans-serif;
}
header{
    background-image: url(/public/img/fet1.jpg);
    background-size:cover;
    height: 560px;
}
#menu{
    padding: 60px;
    padding-bottom: 0px;
}

#titulo{
    color: white;
    padding-left: 170px;
    padding-top: 50px;
    width: 530px;

}

header h1{
    font-size: 40px;
    font-weight: bold;
    

}
header h4{
    font-size: 20px;
    font-weight: 400;
    line-height: 150%;
}

/* lista da seção de certificação   */

#secao_certificacao{
    background: #EAECE5;
    
}
#secao_certificacao ul{
    margin: 0px;
    padding: 0px;
    height: 150px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
}
#secao_certificacao ul li{
    display: flex;
    align-items: center;
    color: #122235;
}
#secao_certificacao ul li span{
    color: #bff107;
    margin: 0px 10px;
}

/* seção de video e texto   */
#secao_video_texto{
    display: flex;
    height: 460px;
    align-items: center;
    justify-content: center
    
}
#secao_esquerda{
    width: 50%;
    display: flex;
    justify-content: flex-end;
}
#secao_direita{
    width: 50%;
    padding-left: 50px;
}
#secao_direita h4{
    width: 65%;
    font-weight: bold;
    line-height: 150%;
    font-size: 32px;
    color: #247BA0;
}
#secao_direita p{
    width: 65%;
    font-size: 20px;
    color: #383838;
    line-height: 150%;
}

/* seção alunos */

#alunos{
    background-color: #99a52c;
    text-align: center;
    padding-top: 20px; 
    height: 300px;
}
#alunos h2 {
    color: white;
   
}
#card_group{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.card{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #ffffff;
    width: 400px;
    margin: 20px;
    font-size: 12px;
    border-radius: 15px;
}

.card img{
  
    margin: 20px;
    width: 80px;
    height: 80px;
}
.card_body{
    
   padding: 15px;
    text-align: left;
}
.nome_aluno{
    font-weight: bold;
}
/* seção Footer */
footer{
    background-color: #eaece5;
    height: 150px;
    text-align: center;
}
footer h2{
    margin: 0px;
    padding: 30px;
}
footer button{
    background-color: #99a52c;
    height: 50px;
    width: 200px;
    color: white;
    font-size: 12px;

    border-radius: 8px;
    border: 0px;

    cursor: pointer;
}